// @import "bootstrap";

$screen-sm-min: 768px;

@import "materialize";
@import "font-awesome";
@import "flexhelpers";
@import "cartodb";
@import "splashModal";
@import "fab";
@import "map";
@import "repCard";
@import "animate";

html {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  font-family: "franklin-gothic-urw";
  font-size: 16px;
  width: 100%;
  height: 100%;
}

.valign-wrapper.centered {
	justify-content: center;
}