#map {
	width: 100%;
	height: 100%;
}

// @media(min-width: $screen-sm-min) {
// 	#map {
// 		float: left;
// 		height: 100%;
// 		width: 75%;
// 	}
// }

// Overrides to remove CartoDB branding, sorry!
.cartodb-header {
	// display: none !important;

	.content .title {
		font-family: "franklin-gothic-urw" !important;
		margin-bottom: 0;
	}
}