<div id="fab" class="fixed-action-btn hide animated fadeInUp" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
      <img class="inject-me fab-svg" src="../images/fist.svg" alt="">
    </a>
    <ul>
    	<!-- https://www.youtube.com/watch?v=jTsOJGH0Pfo -->
    	<li><a href="https://youtu.be/jTsOJGH0Pfo?t=1m5s" target="_blank" class="btn-floating orange"><i class="fa fa-youtube"></i></a></li>
		<li><a href="https://github.com/mattrothenberg/contendr" target="_blank" class="btn-floating green"><i class="fa fa-github"></i></a></li>
		<li><a id="fabSplashModalTrigger" class="btn-floating blue"><i class="fa fa-question"></i></a></li>
    </ul>
</div>