<div class="card small rep-card hide animated fadeInUp">
  <div class="card-image waves-effect waves-block waves-light activator">
    <!-- <img class="activator rep-headshot" src=""> -->
  </div>
  <div class="card-content">
    <div class="card-title activator grey-text text-darken-4">
      <i class="rep-more-info fa fa-ellipsis-v right"></i>
      <div class="rep-bio">
        <div class="rep-party"></div>
        <span class="rep-name"></span>
      </div>
    </div>
    <p><a class="rep-email" href="#"></a></p>
    <div class="rep-stamp center">
      
    </div>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">
    <span class="rep-name"></span>
      <i class="fa fa-times right"></i></span>
    <p>Here is some more information about this legislator.</p>
  </div>
</div>