<div id="splashModal" class="modal">
	<div class="modal-content">
		<div class="app-branding valign-wrapper centered">
			<img class="app-logo inject-me" src="../images/fist.svg" alt="">
			<h2 class="app-title">contendr</h2>	
		</div>
		<div class="divider"></div>
		<div class="app-description">
			<p>The 113th Congress enacted a whopping <strong>297 new laws</strong>.</p>
			<p>The Georgia State Legislature alone enacted more than<strong>300 new laws</strong> in that same timeframe.</p>
			<p>And yet, <strong>over 50%</strong> of these state legislators ran unopposed in the elections that put them in office.</p>
			<p>We think that's a suboptimal democratic experience.</p>
			<p>In a republic, citizens choose their representatives -- so who do these legislators represent?</p>
		</div>
	</div>
	<div class="modal-footer">
		<a href="#!" id="splashModalClose" class="modal-action modal-close waves-effect waves-red darken-1 btn-flat ">Continue</a>
	</div>
</div>